@page "/"
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<button @onclick="(async () => await GeneratePdf())">Generate Pdf</button>

<canvas id="myChart" width="400" height="400"></canvas>

@code {
    string ResponseMessage = string.Empty; 

    async Task GeneratePdf()
    {
        await HttpClient.PostAsync("https://localhost:7137/generatepdf?url=" + Navigation.Uri, null); // your api url may not be the same as this!
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        JSRuntime.InvokeVoidAsync("renderChartJs");
    }
}
